.setColorGreen {
  color: #00d500;
}
.btn-add {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #A7FC89;
}

.btn-img-add {
  width: 20px;
  display: inline;
  position: relative;
  top: -1px;
  left: -1px;
}
::ng-deep .table-custom>thead>tr>th {
  text-transform: capitalize !important;
  font-weight: 700 !important;
  color: black;
}
