.bg-img{
  background-size: 100%;
  background-position: center !important;
  background-repeat: repeat-y !important;
  background-size: cover !important;
  object-fit: cover !important;
  object-position: right !important;
}
.btn-access {
  color: #393939;
  background-color: #5fd5e1;
  letter-spacing: 2px;
  font-weight: 500;
}
.btn-access:hover{
  transition: ease all 0.25s;
  opacity: 0.8;
  color: black;
}
::ng-deep body.swal2-height-auto{
  height: 100% !important;
}
