.bg-img{
  background-size: 100%;
  background-position: center !important;
  background-repeat: repeat-y !important;
  background-size: cover !important;
  object-fit: cover !important;
  object-position: right !important;
}
