<h2 mat-dialog-title>Edit Task</h2>
<mat-dialog-content class="mat-typography">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="btn-set">
      <mat-label>Target PM</mat-label>
      <input matInput [(ngModel)]="data.target" type="number" [min]="1" >
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="btn-set">
      <mat-label>Group</mat-label>
      <input matInput  [(ngModel)]="data.group" type="number" [min]="1" >
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onSave()" >Save</button>
</mat-dialog-actions>
