::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 5px 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: -12px;
}

::ng-deep label.ng-star-inserted {
  transform: translateY(-0.59375em) scale(.75) !important;
}


::ng-deep .mat-form-field-label {
  position: relative !important;
  top: 10px !important;
}

::ng-deep .mat-form-field-label {
  color: black;
  font-weight: 600 !important;
}

// #print >*{
//   font-size: 18px ;
//   font-weight: 600;
// }

.b {
  border: 1px solid black;
}

.bl {
  border-left: 1px solid black;
}

.bt {
  border-top: 1px solid black;
}

.br {
  border-right: 1px solid black;
}

.bb {
  border-bottom: 1px solid black;
}


// todo hide .mat-form-field-appearance-outline .mat-form-field-wrapper
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

// todo hide .mat-form-field-wrapper
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .flex-start-custom {
  flex-flow: wrap !important;
  box-sizing: border-box !important;
  display: flex !important;
  place-content: center flex-end !important;
  align-items: center !important;
  flex: 1 1 30% !important;
  max-width: 30% !important;
  justify-content: flex-end !important;
}

// img{
//   width: 100%;
//   height: 100%;
// }
::ng-deep .datepicker {
  .mat-form-field-flex {
    display: inherit;
    width: 150px;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    width: 10px;
    float: right;
    position: absolute !important;
    top: 10px;
    right: 25px;
  }
}


label{
  font-weight: bold;
}
