::ng-deep .btn-set .mat-form-field-flex > .mat-form-field-infix { padding: 5px 0px !important;}
::ng-deep .btn-set .mat-form-field-label { margin-top:-12px !important; }
::ng-deep .btn-set label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
::ng-deep .btn-set .mat-form-field-wrapper {
  padding: 0px !important;
}


::ng-deep .btn-set .mat-form-field-label {
  position: relative !important;
  top: 10px !important;
}
::ng-deep .btn-set .mat-form-field-label{
  color: black;
  font-weight: 600 !important;
}
::ng-deep .btn-set .mat-sort-header-content {
  text-transform: uppercase !important;
  font-weight: 700 !important;
}



.shaDown {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.gap{
  padding-right: 16px;
}


.btn-add {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #A7FC89;
}

.btn-img-add {
  width: 20px;
  display: inline;
  position: relative;
  top: -1px;
  left: -1px;
}
.setColorGreen {
  color: #00d500;
}


.btn-save {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #97AEFF;
}
.box-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(0.9px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}
