<mat-dialog-content *ngIf="this.rawData">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100">
      <mat-card>

        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" fxLayoutAlign="center center">
            <h4 *ngIf="this.data">Edit</h4>
            <h4 *ngIf="!this.data">Add</h4>
          </div>
        </div>

        <div fxLayout="column wrap" fxLayoutAlign="center center" class="mt-3">

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>Province</mat-label>
            <input type="text" matInput style="text-align: center;" [matAutocomplete]="auto_1"
              [readonly]="input_readonly" [(ngModel)]="rawData['Province']" [disabled]="this.data">
            <mat-autocomplete #auto_1="matAutocomplete">
              <mat-option *ngFor="let option of filterOptions(rawData['Province'],province)" [value]="option.list">
                {{option.list}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>District</mat-label>
            <input type="text" matInput style="text-align: center;" [matAutocomplete]="auto_2"
              [readonly]="input_readonly" [(ngModel)]="rawData['District']">
            <mat-autocomplete #auto_2="matAutocomplete">
              <mat-option *ngFor="let option of filterOptions(rawData['District'],district)" [value]="option.list">
                {{option.list}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>Customer</mat-label>
            <input type="text" matInput style="text-align: center;" [matAutocomplete]="auto_3"
              [readonly]="input_readonly" [(ngModel)]="rawData['Customer']">
            <mat-autocomplete #auto_3="matAutocomplete">
              <mat-option *ngFor="let option of filterOptions(rawData['Customer'],customer)" [value]="option.list">
                {{option.list}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>Machine</mat-label>
            <input id="start" type="text" matInput style="text-align: center;" [matAutocomplete]="auto_4"
              [(ngModel)]="rawData['Machine']">
            <mat-autocomplete #auto_4="matAutocomplete">
              <mat-option *ngFor="let option of filterOptions(rawData['Machine'],machine)" [value]="option.list">
                {{option.list}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>Model</mat-label>
            <input id="start" type="text" matInput style="text-align: center;" [matAutocomplete]="auto_model"
              [(ngModel)]="rawData['Model']">
            <mat-autocomplete #auto_model="matAutocomplete">
              <mat-option *ngFor="let option of filterModelOptions(rawData['Model'])" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>Brand</mat-label>
            <input id="start" type="text" matInput style="text-align: center;" [matAutocomplete]="auto_brand"
              [(ngModel)]="rawData['Brand']">
            <mat-autocomplete #auto_brand="matAutocomplete">
              <mat-option *ngFor="let option of filterBrandOptions(rawData['Brand'])" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>S/N</mat-label>
            <input matInput style="text-align: center;" [(ngModel)]="rawData['S/N']">
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>PIC</mat-label>
            <mat-select multiple [(ngModel)]="this.rawData['PIC']">
              <mat-select-trigger>
                <span>{{this.rawData['PIC']?.length != 0 ? this.rawData['PIC']?.length + ' รายการถูกเลือก' :
                  'เลือกผู้ใช้งาน'}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let user of PIC" [value]="user._id">{{user.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Install Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="rawData['InstallDate']">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Active</mat-label>
            <mat-select [(ngModel)]="rawData['active']" >
              <mat-option value="active">active</mat-option>
              <mat-option value="inactive">inactive</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>PM</mat-label>
            <input matInput type="number" style="text-align: center;" [(ngModel)]="rawData['PM']">
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Description</mat-label>
            <textarea matInput rows="3" [(ngModel)]="rawData['description']"></textarea>
          </mat-form-field>

        </div>



        <div fxLayout="row wrap" fxLayoutAlign="center none" class="mt-1">
          <div fxFlex="100" fxLayoutAlign="center none" *ngIf="!check">
            <span style="color: red;">*กรุณากรอกข้อมูลให้ครบ</span>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center none" class="mt-5">
          <div fxFlex="100">
            <div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="5">
              <div>
                <button mat-raised-button color="primary" (click)="submit()" [disabled]="disableCheck()"
                  *ngIf="this.data">OK</button>
                <button mat-raised-button color="primary" (click)="submit_add()" [disabled]="disableCheck()"
                  *ngIf="!this.data">OK</button>
              </div>
              <div>
                <button mat-raised-button (click)="cancel()">CANCEL</button>
              </div>
            </div>
          </div>
        </div>

      </mat-card>
    </div>
  </div>
</mat-dialog-content>