<div fxLayout="row wrap" fxLayoutAlign="center center">
  <app-title fxFlex="95" [title]="'Library Search'"></app-title>
  <div fxFlex="95" fxLayout="row wrap" fxLayoutAlign="center stretch" class="mt-3">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="dataFilter.type" name="food">
          <mat-option *ngFor="let value of typeOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Report</mat-label>
        <mat-select [(ngModel)]="dataFilter.report" name="food">
          <mat-option *ngFor="let value of reportOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-auto-complete class="btn-set" *ngIf="customerOptionStr.length>0" [myControl]="customerCtrl"
        [options]="customerOptionStr" (optionsChange)="onSelectCustomer($event)"  [title]="'Customer'">
      </app-auto-complete>


      <!-- <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>เครื่อง</mat-label>
        <mat-select [(ngModel)]="dataFilter.machine" [compareWith]="objectComparisonFunction_machine">
          <mat-option *ngFor="let item of machineOption" [value]="item">
            {{item.Machine}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Service Type</mat-label>
        <mat-select [(ngModel)]="dataFilter.service" [compareWith]="objectComparisonFunction_id">
          <mat-option *ngFor="let item of serviceTypeOption" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20" class="my-4">
      <button fxFlex="100" fxFlex.gt-md="30" mat-raised-button color="primary" (click)="onSubmit()">Search</button>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-table-report *ngIf="show" fxFlex="100" [displayedColumns]="displayedColumns" [dataSource]="dataSource" ></app-table-report>
    </div>

  </div>
</div>
