<div fxLayout="row wrap" fxLayoutAlign="center center">
  <app-title fxFlex="95" [title]="'Library Search'"></app-title>
  <div fxFlex="95" fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="selected" name="food">
          <mat-option *ngFor="let value of typeOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Report</mat-label>
        <mat-select [(ngModel)]="selected" name="food">
          <mat-option *ngFor="let value of reportOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-auto-complete class="btn-set" *ngIf="customerOptionStr.length>0" [myControl]="customerCtrl"
        [options]="customerOptionStr" (optionsChange)="onSelectCustomer($event)">
      </app-auto-complete>


    <mat-form-field  appearance="outline" floatLabel="always" class="btn-set">
      <mat-label>เครื่อง</mat-label>
      <mat-select [(ngModel)]="dataFilter.machine" [compareWith]="objectComparisonFunction_machine">
        <mat-option *ngFor="let item of machineOption" [value]="item">
          {{item.Machine}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Service Type</mat-label>
        <mat-select [compareWith]="objectComparisonFunction_id">
          <mat-option *ngFor="let item of serviceTypeOption" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <!-- <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>ค้นหา</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <div fxFlex="auto"></div>
      <button mat-raised-button (click)="onClickNewReport()">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
          <span>New</span>
          <mat-icon class="mat-18">add</mat-icon>
        </div>
      </button> -->
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">
      <button mat-raised-button (click)="onSubmit()">text</button>
      <button mat-raised-button (click)="onPrint()">text</button>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
      <table fxFlex="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="reportNo">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> reportNo </th>
          <td mat-cell *matCellDef="let row">
            <span class="cursor-pointer text-blue-500">{{row.reportNo}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="province">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> province </th>
          <td mat-cell *matCellDef="let row"> {{row.province}} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> customer </th>
          <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
        </ng-container>

        <ng-container matColumnDef="machine">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> machine </th>
          <td mat-cell *matCellDef="let row"> {{row.machine}} </td>
        </ng-container>

        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> S/N </th>
          <td mat-cell *matCellDef="let row"> {{row.sn}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="capitalize font-black"> status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-paginator fxFlex="100" [pageSizeOptions]="[5, 10, 25, 100,dataSource.filteredData.length]"
        aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
