<div fxLayout="row wrap" fxLayoutAlign="center center">
  <app-title fxFlex="100" [title]="'Library Search'"></app-title>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="mt-3">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="dataFilter.type" name="food">
          <mat-option *ngFor="let value of typeOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Report</mat-label>
        <mat-select [(ngModel)]="dataFilter.report" name="food">
          <mat-option *ngFor="let value of reportOption" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-auto-complete class="btn-set" *ngIf="customerOptionStr.length>0" [myControl]="customerCtrl"
        [options]="customerOptionStr" (optionsChange)="onSelectCustomer($event)" [title]="'Customer'">
      </app-auto-complete>


      <!-- <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>เครื่อง</mat-label>
        <mat-select [(ngModel)]="dataFilter.machine" [compareWith]="objectComparisonFunction_machine">
          <mat-option *ngFor="let item of machineOption" [value]="item">
            {{item.Machine}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>Service Type</mat-label>
        <mat-select [(ngModel)]="dataFilter.service" [compareWith]="objectComparisonFunction_id">
          <mat-option *ngFor="let item of serviceTypeOption" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>PIC</mat-label>
        <mat-select [(ngModel)]="dataFilter.user" [compareWith]="objectComparisonFunction_id">
          <mat-option *ngFor="let item of userOption" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set">
        <mat-label>S/N</mat-label>
        <input matInput [(ngModel)]="dataFilter.sn"  />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set" style="max-width: 320px;">
        <mat-label>Finish Period Date</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="dataFilter.finishPeriodDateStart" [max]="dataFilter.finishPeriodDateEnd">
          <input matEndDate placeholder="End date" [(ngModel)]="dataFilter.finishPeriodDateEnd" [min]="dataFilter.finishPeriodDateStart">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-datepicker-actions>
            <button mat-button color="warn" matDatepickerCancel
              (click)="dataFilter.finishPeriodDateStart = null; dataFilter.finishPeriodDateEnd = null">Clear</button>
            <button mat-button matDatepickerCancel>Close</button>
            <button mat-raised-button color="primary" matDatepickerApply>Confirm</button>
          </mat-datepicker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="btn-set" style="max-width: 320px;">
        <mat-label>Install Period Date</mat-label>
        <mat-date-range-input [rangePicker]="pickerInstall">
          <input matStartDate placeholder="Start date" [(ngModel)]="dataFilter.installPeriodDateStart" [max]="dataFilter.installPeriodDateEnd">
          <input matEndDate placeholder="End date" [(ngModel)]="dataFilter.installPeriodDateEnd" [min]="dataFilter.installPeriodDateStart">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerInstall"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerInstall>
          <mat-datepicker-actions>
            <button mat-button color="warn" matDatepickerCancel
              (click)="dataFilter.installPeriodDateStart = null; dataFilter.installPeriodDateEnd = null">Clear</button>
            <button mat-button matDatepickerCancel>Close</button>
            <button mat-raised-button color="primary" matDatepickerApply>Confirm</button>
          </mat-datepicker-actions>
        </mat-date-range-picker>
      </mat-form-field>

    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20" class="my-4">
      <button fxFlex="100" fxFlex.gt-md="20" mat-raised-button color="primary" (click)="onSubmit()">Search</button>
      <button fxFlex="100" fxFlex.gt-md="20" mat-stroked-button color="warn" (click)="onClearFilter()">Clear Filter</button>
      <button fxFlex="100" fxFlex.gt-md="20" mat-raised-button color="accent" (click)="onExportCsv()" [disabled]="dataSource.data.length === 0">Export CSV</button>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-table-report *ngIf="show" fxFlex="100" [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"></app-table-report>
    </div>

  </div>
</div>