.centered-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 1;
  height: 8px;
  background-color: black;
}

.text-in-line {
  padding: 0 10px;
}




.input_select {
  padding: 6px;
  text-align: center;
  border-radius: 8px;
}

select.input_select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}


// select.input_select {
//     background: url('assets/add-file.png') no-repeat right center;
//     // padding-right: 30px;
// }

table {
  width: -webkit-fill-available
}

.btn-img-add {
  width: 20px;
  display: inline;
  position: relative;
  top: -1px;
  left: -1px;
}

.btn-add {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #8deb8d;
}

.btn-select {
  width: 16px;
  position: relative;
  top: -27px;
  left: 100px;
}

.btn-action {
  background-color: inherit;
  border: none;
}

.btn-img-action {
  width: 25px;
  position: relative;
  top: -1px;
  left: 1px;
}



.btn-import-excel {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #8deb8d;
}

.btn-img-import-excel {
  width: 20px;
  display: inline;
  position: relative;
  top: -1px;
  left: -1px;
}

.setHover :hover {
  outline: none;
}





.action-active {
  border: 1px solid;
  border-radius: 6px;
}


.select-first {
  color: black;
  border-radius: 8px;
  border: 1px solid;
  background-color: #e9e9e9;
  ;
  padding: 7.5px 18px 7.5px 18px;
  font-size: 14px;
  width: 130px;
  text-align: center;
}

// ::ng-deep.select-first .mat-select-arrow {
//   display: none;
// }


table {
  width: 100%;
}


.shaDown {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


// .koo>.mat-form-field-appearance-outline>.mat-form-field-infix {
//   padding: 0px 0px 10px 0px !important;
// }
.mat-form-field-infix.ng-tns-c98-4 {
  padding: 0 !important;
}


::ng-deep.koo.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px 0px 10px 0px;
  /* height: 0px; */
}



::ng-deep.koo.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0;
  padding: 0;
}
