<div fxLayout="row wrap" fxLayoutAlign="center center">
  <app-title fxFlex="90" [title]="'Master manage'"></app-title>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-3">
  <div fxFlex="100" fxFlex.gt-xs="80">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">

      <!-- <mat-form-field appearance="outline" floatLabel="always" class="setFormat koo" style="margin: 0;" >
        <mat-label>จังหวัด</mat-label>
        <input id="clear" type="text" matInput style="text-align: center;" [matAutocomplete]="auto" (click)="clear()"
          [(ngModel)]="var_Province" >
        <mat-autocomplete  #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filterOptions(var_Province,province)" [value]="option.list" >
            {{option.list}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->


      <div>
        <button mat-button class="btn-add" (click)="add()" style="color: black">
          <img src="assets/img/master-machine/add-file.png" class="btn-img-add" />
          เพิ่มข้อมูล
        </button>
      </div>



    </div>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" fxFlex.gt-xs="80">
    <mat-form-field style="width: -webkit-fill-available;padding: 0px;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input />
    </mat-form-field>
    <div class="mat-elevation-z8" style="overflow-x:auto;">
      <table mat-table [dataSource]="dataSource" matSort style="text-wrap: nowrap;">

        <ng-container matColumnDef="No" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            style="text-align: center; font-size: medium; font-weight: bold">
            No.
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element; let i = index" >
            {{ element["No"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Province">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            Customer
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element" >
            {{ element["Province"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Customer" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            Customer
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element" >
            {{ element["Customer"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="District">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            District
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            {{ element["District"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Machine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            Machine
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            {{ element["Machine"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            Model
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            {{ element["Model"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="S/N">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            S/N
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            {{ element["S/N"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PIC">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            PIC
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            {{ element["name"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="TARGETS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium; font-weight: bold">
            Targets
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element" style="text-align: center;">
            {{ element["Targets"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef
            style="font-size: medium; font-weight: bold;text-align: center; ">
            Action
          </th>
          <td mat-cell style="padding-right: 16px;" *matCellDef="let element">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div>
                <button mat-icon-button (click)="edit(element)">
                  <mat-icon>
                    <img src="assets/img/master-machine/edit.png" alt="Custom Icon">
                  </mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="deleteBySelect(element)">
                  <mat-icon>
                    <img src="assets/img/master-machine/trash-bin.png" alt="Custom Icon">
                  </mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[8, 20, 100]" showFirstLastButtons aria-label="Select page of periodic elements"
      class="shaDown">
    </mat-paginator>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-3">
  <div fxFlex="80">
    <div fxLayout="row wrap" fxLayoutAlign="end stretch">
      <!-- <div class="mr-3">
        <input hidden type="file" id="files" (change)="def_import($event)" multiple="false" />
        <button mat-button class="mr-2 btn-import-excel" for="files"
          onclick="document?.getElementById('files').click()">
          <img src="assets/img/master-machine/excel-file.png" class="btn-img-import-excel" />
          Import
        </button>
      </div> -->
      <div>
        <button mat-button class="btn-import-excel" (click)="export()">
          <img src="assets/img/master-machine/excel-file.png" class="btn-img-import-excel" />
          Export
        </button>
      </div>
    </div>
  </div>
</div>
