<div  fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100">
    <mat-card>

      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div  fxFlex="100" fxLayoutAlign="center center">
          <h4 *ngIf="this.data">Edit</h4>
          <h4 *ngIf="!this.data">Add</h4>
        </div>
      </div>

      <div fxLayout="column wrap" fxLayoutAlign="center center" class="mt-3">
          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>name</mat-label>
            <input matInput style="text-align: center;" [(ngModel)]="rawData['name']" >
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always" class="setFormat">
            <mat-label>value</mat-label>
            <input matInput style="text-align: center;" type="number" [(ngModel)]="rawData['value']" >
          </mat-form-field>
      </div>



      <div fxLayout="row wrap" fxLayoutAlign="center none" class="mt-1">
        <div fxFlex="100" fxLayoutAlign="center none" *ngIf="!check">
          <span style="color: red;">*กรุณากรอกข้อมูลให้ครบ</span>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center none" class="mt-5">
        <div fxFlex="100" >
          <div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="5">
            <div>
              <button mat-raised-button color="primary" (click)="submit()" >OK</button>
            </div>
            <div>
              <button mat-raised-button (click)="cancel()" >CANCEL</button>
            </div>
          </div>
        </div>
      </div>



    </mat-card>
  </div>
</div>
