<!-- <h4>Please Add your signature here</h4> -->

<div id="signature-pad" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
  <canvas #sign (touchstart)="startDrawing($event)" (touchmove)="moved($event)" width="300" height="250"  ></canvas>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" >
    <button (click)="clearPad()">ยกเลิก</button>
    <button (click)="savePad()">ยืนยัน</button>
  </div>
</div>

<!-- <div *ngIf="signatureNeeded === false">
  <p>Signature in Base64Encoded Format</p>
  <img src="{{ signatureImg }}" alt="" srcset="" />
</div> -->
