<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="setFormat">
      <mat-label>Full name</mat-label>
      <input matInput style="text-align: center;">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="setFormat">
      <mat-label>Full name</mat-label>
      <input matInput style="text-align: center;">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="setFormat">
      <mat-label>Full name</mat-label>
      <input matInput style="text-align: center;">
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline" floatLabel="always" class="setFormat">
      <mat-label>Full name</mat-label>
      <input matInput style="text-align: center;">
    </mat-form-field>
  </div>
</div>
