.b1{
  border: 1px solid black;
}
::ng-deep .mat-form-field-label{
  font-weight: 600 !important;
}
::ng-deep .theme--dark .mat-form-field-label{
  // color: #5cb4ff;
  color: #1276ce;
}

::ng-deep .theme--light .mat-form-field-label{
  color: black;
}
::ng-deep .mat-form-field-wrapper{
  margin: 0;
  padding: 0;
}
::ng-deep .theme--light .mat-input-element{
  font-size: 14px;
}
::ng-deep .theme--dark .mat-input-element{
  font-size: 14px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }


::ng-deep .theme--light .bg-1{
  background-color: rgb(196, 196, 196);
}
::ng-deep .theme--dark .bg-1{
  background-color: rgb(138, 138, 138);
}


::ng-deep .mat-form-field-label {
  position: relative !important;
  top: 10px !important;
}
